/* style header*/

body {
    margin: 0px;
}
.heading {
    color: white;
    background-color: teal;
    text-align: center;
    padding: 50px;
}
.heading > h1 {
    font-size: 40px;
}

/* style navigation */

.navigation {
    display: flex;
    flex-direction: row;
    background-color: black;
    padding: 10px;
    justify-content: space-between;
}

.navigation a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.navigation a:hover {
    background-color: blanchedalmond;
    color: black;
}

/* style main */

main {
    display: flex;
}

 aside {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: rgb(235, 235, 235);
    padding: 0 10px;
}

section {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 0 10px;
}

/* style footer */

footer {
    background-color: rgb(197, 197, 197);
    text-align: center;
    padding: 5px;
}